@font-face {
  font-family: "Next-ART";
  src: url("../assets/fonts/Next-ART_Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-size: 16px;
  background: #F3F5F4;
  color: #18121E;
  font-family: "NunitoSans";
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: "NunitoSans";
}

input {
  background-color: transparent;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #FDFDFD;
}
input::placeholder {
  color: #FDFDFD;
}

label {
  color: #FDFDFD;
}
label svg {
  width: 18px;
  height: 18px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: #F2BE22;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  text-decoration: underline;
  color: #1A3E3E;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img:not([alt]),
img[alt=""] {
  filter: blur(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: #1A3E3E;
  margin-bottom: 1em;
}

h1 {
  font-size: 50px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 26px;
  line-height: 1.2;
}

h4 {
  font-size: 24px;
  line-height: 1.33;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 18px;
  line-height: 1.11;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

footer {
  margin-top: auto;
}

.container {
  max-width: 1204px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  line-height: 1;
  padding: 13px 22px;
  transition: 0.3s;
  display: inline-block;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn_primary {
  background-color: #1A3E3E;
  color: #FDFDFD;
}
.btn.btn_primary:hover {
  border-color: #1A3E3E;
  background-color: #FDFDFD;
  color: #1A3E3E;
}
.btn.btn_lg {
  padding: 17px 34px;
}
.btn.btn_secondary {
  border: 1px solid #FDFDFD;
  background-color: #FDFDFD;
  color: #1A3E3E;
}
.btn.btn_secondary:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
  border-color: #1A3E3E;
}

.input-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-box label {
  cursor: pointer;
}
.input-box label.label-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.input-box:hover .date-input + label {
  color: #F2BE22;
}

.nice-select {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #FDFDFD;
  padding: 0 36px 0 16px;
  font-weight: 700;
  font-size: 16px;
  color: #FDFDFD;
  height: 58px;
  line-height: 58px;
}
.nice-select:after {
  border-bottom: 2px solid #FDFDFD;
  border-right: 2px solid #FDFDFD;
  height: 11px;
  width: 11px;
  margin-top: -8px;
  right: 16px;
}
.nice-select .nice-select-dropdown {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
}
.nice-select.open + label {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

::selection {
  background-color: #1A3E3E;
  color: #F2BE22;
}

.header {
  padding: 16px 0;
  margin-bottom: -104px;
  z-index: 1;
}
.header .container {
  display: flex;
  align-items: center;
}
.header__logo img {
  height: 72px;
}
.header__mobile-container {
  display: flex;
  gap: 38px;
}
.header__mobile-container.show {
  display: flex;
}
.header__nav-list {
  display: flex;
}
.header__nav-link {
  padding: 12px;
  display: inline-block;
  color: #FDFDFD;
  font-size: 18px;
}
.header__nav-link:hover {
  text-decoration: none;
  color: #F2BE22;
}
.header__nav-link:focus, .header__nav-link:focus-visible {
  outline: none;
}

.hamburger {
  z-index: 1;
  margin-left: auto;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.first-screen {
  min-height: 985px;
  background: url(../assets/img/banner.png) center/cover no-repeat;
}

@media (min-width: 1025px) {
  .hamburger {
    display: none;
  }
  svg {
    display: none;
  }
  .header__mobile-container {
    margin-left: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__logo img {
    height: 44px;
  }
  .header__mobile-container {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1A3E3E;
    padding: 50px 16px;
    display: none;
  }
  .header__mobile-container .btn {
    max-width: 320px;
    margin: auto auto 0;
    border: 1px solid #FDFDFD;
    background-color: #FDFDFD;
    color: #1A3E3E;
  }
  .header__mobile-container .btn:hover {
    background-color: #1A3E3E;
    color: #FDFDFD;
    border-color: #1A3E3E;
  }
  .header__mobile-container .btn:hover {
    background-color: transparent;
    border-color: #FDFDFD;
  }
  .header__nav {
    overflow: auto;
  }
  .header__nav-list {
    flex-direction: column;
  }
  .header__nav-link {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
  }
  .header__nav-link svg {
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-right: 10px;
    transition: 0.3s;
  }
  .header__nav-link:hover svg {
    margin-right: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
